[Desktop Entry]
Categories=GNOME;Network;
Comment=Browse for Zeroconf-enabled VNC Servers
Exec=/usr/bin/bvnc
GenericName=
Icon=network-wired
Name=Avahi VNC Server Browser
NoDisplay=true
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
