/* Allow live system user to run programs without authentication
*/
polkit.addRule(function(action, subject) {
    if (subject.user == "defaultuser" && subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});

