[Desktop Entry]
Name=Pamac
GenericName=Software Update
GenericName[af]=Sagtewarebywerking
GenericName[ar]=تحديث البرمجيات
GenericName[as]=চালনাজ্ঞান উন্নয়ন ব্যৱস্থা
GenericName[ast]=Anovamientu de software
GenericName[be]=Абнаўленне апраграмавання
GenericName[bg]=Обновление на софтуера
GenericName[bn]=সফ্টওয়্যার হালনাগাদ
GenericName[bn_IN]=সফ্টওয়্যার আপডেট ব্যবস্থা
GenericName[ca]=Actualització de programari
GenericName[ca@valencia]=Actualització de programari
GenericName[cs]=Aktualizace softwaru
GenericName[da]=Softwareopdatering
GenericName[de]=Software-Aktualisierungen
GenericName[el]=Ενημέρωση λογισμικού
GenericName[en@shaw]=𐑕𐑪𐑓𐑑𐑢𐑺 𐑳𐑐𐑛𐑱𐑑
GenericName[en_GB]=Software Update
GenericName[eo]=Programar-ĝistatigo
GenericName[es]=Actualización de software
GenericName[et]=Tarkvarauuendus
GenericName[eu]=Softwarearen eguneraketa
GenericName[fa]=بروزرسانی نرم‌افزار
GenericName[fi]=Ohjelmistopäivitykset
GenericName[fr]=Mise à jour des logiciels
GenericName[gl]=Actualización de software
GenericName[gu]=સોફ્ટવેર સુધારા
GenericName[he]=עדכון תכנה
GenericName[hi]=सॉफ्टवेयर अद्यतन
GenericName[hu]=Szoftverfrissítés
GenericName[id]=Pembaruan Perangkat Lunak
GenericName[it]=Aggiornamento software
GenericName[ja]=ソフトウェアの更新
GenericName[kn]=ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್‌
GenericName[ko]=소프트웨어 업데이트
GenericName[lt]=Programinės įrangos atnaujinimas
GenericName[lv]=Programmatūras atjaunināšana
GenericName[mk]=Ажурирање на софтвер
GenericName[ml]=സോഫ്റ്റ്‌വെയര്‍ പരിഷ്കാരം
GenericName[mr]=सॉफ्टवेअर अद्ययावत
GenericName[nb]=Programvareoppdatering
GenericName[nl]=Software bijwerken
GenericName[nn]=Programvareoppdatering
GenericName[or]=ସଫ୍ଟୱେର ଅଦ୍ୟତନ
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
GenericName[pl]=Aktualizacja oprogramowania
GenericName[pt]=Actualização de Software
GenericName[pt_BR]=Atualizações de programas
GenericName[ro]=Actualizări de programe
GenericName[ru]=Обновление программ
GenericName[sk]=Aktualizácia softvéru
GenericName[sl]=Posodobitev programske opreme
GenericName[sr]=Ажурирање програма
GenericName[sr@latin]=Ažuriranje programa
GenericName[sv]=Programuppdatering
GenericName[ta]=மென்பொருள் மேம்படுத்தல்
GenericName[te]=సాప్ట్‍వేర్ నవీకరణ
GenericName[th]=ปรับรุ่นซอฟต์แวร์
GenericName[tr]=Yazılım Güncelleme
GenericName[ug]=يۇمشاق دېتال يېڭىلاش
GenericName[uk]=Оновлення програм
GenericName[vi]=Bản cập nhật phần mềm
GenericName[zh_CN]=软件更新
GenericName[zh_HK]=軟件更新
GenericName[zh_TW]=軟體更新
Icon=system-software-update
Exec=pamac-updater
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
