[Desktop Entry]
Comment=Fixes the audio volume on first login
Exec=/usr/bin/fixaudiovolume.sh
Name=Fix audio volume
NoDisplay=true
StartupNotify=false
Type=Application
